<!DOCTYPE html>
<html>
    <title>Hive Coin Transaction Details</title>
    <head>
        <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/pretty-print-json@1.3/dist/pretty-print-json.css>
    </head>
    <body>
        <p class=json-container>View Hive Coin transaction details below:</p>
        <pre id=hivetransaction class=json-container></pre>

        <pre id="example"></pre>
        <script src=https://cdn.jsdelivr.net/npm/pretty-print-json@1.3/dist/pretty-print-json.min.js></script>
        <script>

            // https://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it
            // stackoverflow: This is my favourite way of decoding HTML characters. The advantage of using this code is that tags are also preserved.
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            };

            var hivetx = "<%= hivetransaction %>";
            hivetx_text = decodeHtml(hivetx);
            //document.write(hivetx_text);
            var hivetx_obj = JSON.parse(hivetx_text);

            const elem = document.getElementById('hivetransaction');
            // https://github.com/center-key/pretty-print-json
            elem.innerHTML = prettyPrintJson.toHtml(hivetx_obj);

    </script>
    </body>
</html>